@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: lightblue;
  overflow-x: hidden;
}

.container {
  background-color: whitesmoke;
  width: 90vw;
  min-height: 60vh;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.input-box {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input {
  flex-grow: 1;
  margin-right: 5px;
  padding-left: 15px;
  outline: none;
  font-size: 1rem;
  border: 2px solid #d3d2d2;
  border-radius: 5px;
}

.input__btn {
  width: 40px;
  height: 40px;
  color: whitesmoke;
  font-size: 1.4rem;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.help-txt {
  text-align: center;
  margin-bottom: 20px;
  color: red;
  font-size: 0.8rem;
}

li {
  list-style: none;
}

.list {
  background-color: #edebeb;
  padding: 10px 5px 10px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.txt {
  width: 95%;
  margin-left: 5px;
  text-wrap: wrap;
  user-select: none;
}

.txt-cmpt {
  text-decoration: line-through;
  color: #938787;
}

.fa-circle,
.fa-circle-check {
  cursor: pointer;
  font-size: 1.3rem;
}

.fa-circle {
  color: #b4b2b2;
}

.fa-circle-check {
  color: green;
}

.fa-trash-can {
  color: red;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .container {
    width: 500px;
    margin-top: 50px;
  }
}
